* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

.one {
    background-color: #1F2937;
    height: 400px;
}

.header {
    height: 50px;
    display: flex;
}

.header-logo, .header-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.header-logo-text {
    color: #F9FAF8;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: bold;
    flex: 1;
    padding: 100px;
}

.header-links-text {
    color: #E5E7EB;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 100;
    padding: 10px;
}

.hero-container {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.one-hero {
    justify-content: center;
    align-items: center;
    height: 350px;
    padding: 100px;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    font-family: 'Roboto';
}

.hero-below-text {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 100;
    color: #E5E7EB;
    padding: 10px 10px 10px 0px;
}

.hero-button {
    background-color: #3882F6;
    color:#F9FAF8;
    border: none;
    border-radius: 6px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: bold;
    padding: 10px 25px 10px 25px;
    margin-top: 10px;
    cursor: pointer;
}

.one-image {
    padding-right: 100px;
}

.two {
    padding: 30px;
    height: 400px;
}

.two-heading-text {
    color: #1F2937;
    font-weight: 900;
    font-family: 'Roboto';
    font-size: 36px;
    text-align: center;
}

.two-images-text {
    height: 280px;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.two-images-text > div {
    width: 150px;
    height: 180px;
}

.two-images-text > div > img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 4px solid #3882F6;
}

.two-images-text > div > p {
    color: #1F2937;
    font-family: "Roboto";
    font-size: 14px;
    text-align: center;
}

.three {
    background-color: #E5E7EB;
    height: 350px;
    padding: 100px 0px 100px 0px;
}

.three-para {
    display: flex;
    justify-content: center;
    align-items: center;
}

.three-para > div > p{
    width: 780px;
    color: #1F2937;
    font-family: 'Roboto';
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.three-name > p {
    text-align: right;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: bold;
    padding-right: 400px;
}

.four {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-container {
    background-color: #3882F6;
    height: 120px;
    width: 900px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.four-text-div {
    height: 80px;
    width: 650px;
    padding: 10px 0px 10px 0px;
}

.four-text-div > p {
    color: #F9FAF8;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 24px;
}

.four-text-div > .four-smaller-p {
    font-size: 18px;
    font-weight: lighter;
}

.four-button-div {
    height: 80px;
    width: 250px;
    padding: 20px 40px;
}

.four-button-div > button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    padding: 5px 35px;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > p {
    color: #F9FAF8;
    font-family: 'Roboto';
    font-size: 14px;
}